* {
	box-sizing: border-box;
	font-family: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
	margin: 0;
	padding: 0;
}

body{
	height: 100vh;
	max-height: 100vh;
}

.group-login-container, .create-group-container {
	display: grid;
	color: black;
	grid-template-columns: 0.35fr 1.65fr;
	grid-template-rows: 1fr;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	background-color: #dfe3ee;
}

.create-group-div-container h1, .join-group-div-container h1{
	text-align: center;
	padding: 0.5em;
	font-weight: 100;
}

.navbar-div {
	grid-area: 1 / 1 / 2 / 2;
}
  
.create-group-div-container {
	grid-area: 1 / 2 / 2 / 3;
}

/* Create Group */
.create-group-div { 
    width: 70%;
    margin: auto;
    padding: 1em 2em;
    margin-bottom: 4em;
    box-sizing: border-box;
    border: none;
    color: white;
    outline: none; 
}

.create-group-div-container input[type=text], input[type=password]{
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
}

.create-group-btn{
background-color: #0C0032;
  color: #f0f0f0;
  padding: 0.8em;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  outline: none;
  font-size: 1em;
}

/* Join Group */
.join-group-div { 
    width: 70%;
    margin: auto;
    padding: 1em 2em;
    margin-bottom: 4em;
    box-sizing: border-box;
    border: none;
    color: white;
    outline: none; 
}

.join-group-div-container input[type=text], input[type=password]{
    width: 100%;
    display: inline-block;
    padding: 12px 20px;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    box-sizing: border-box;
    border: 1px solid #929292;
    border-radius: 4px;
    background-color: #ffffff;
    outline: none;
}

.join-group-btn{
    background-color: #0C0032;
  color: #f0f0f0;
  padding: 0.8em;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  outline: none;
  font-size: 1em;
}

.error-message {
	color: rgb(214, 26, 26);
	text-align: center;
	font-size: 1em;
	margin: 0.8em;
}

.success-message {
	color: rgb(40, 207, 34);
	text-align: center;
	font-size: 1.2em;
	margin: 0.8em;
}

/* Group */
ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 5px 15px;
	border: 0;
	font-size: 17px;
	outline: none;
}

.chat-header .btn {
	color: rgb(223, 51, 51);
}

/* Chat Page */
.chat-container{
	height: 100vh;
	max-height: 100vh;
	overflow: hidden;
}

.chat-header {
	background-color: #0C0032;
	color: #fff;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
	background-color: #ffffff;
}

.chat-sidebar {
	height: 77.75vh;
	max-height: 77.75vh;
	background-color: #dfe3ee;
	padding: 20px 20px 60px;
	overflow-y: auto;
	width: 22.5vw;
}

.chat-sidebar h2 {
	font-size: 20px;
	margin-bottom: 20px;
	font-weight: 400;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
	font-weight: 400;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 500px;
	overflow-y: auto;
	width: 100%;
}

.chat-messages .message {
	padding: 10px;
	margin-bottom: 15px;
	background-color: #dfe3ee;
	border-radius: 0.5em;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 0px 0px 8px #ddd;
	-webkit-box-shadow: 0px 0px 8px #DDD;
	box-shadow: 0px 0px 8px #DDD;
	overflow-wrap: break-word;
}

.chat-messages .message .meta {
	font-size: 15px;
	font-weight: bold;
	opacity: 0.7;
	margin-bottom: 7px;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: #dfe3ee;
	border: 1px solid #E3E3E3;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	-moz-box-shadow: 0px 0px 8px #ddd;
	-webkit-box-shadow: 0px 0px 8px #DDD;
	box-shadow: 0px 0px 8px #DDD;
	overflow-wrap: break-word;
}

.chat-form-container form {
	display: flex;
	width: 100%;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 2.2em;
	flex: 1;
	outline: none;
	border: #ddd;
	border-radius: 0.25em 0 0 0.25em;
}

.chat-form-container button {
	background-color: whitesmoke;
	border-radius: 0 0.25em 0.25em 0;
}

.chat-form-container button i{
	color: #0C0032;
}


#groupNameField{
	margin-left: 25em;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}