<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home | Scorona</title>
    <link rel="stylesheet" type="text/css" href="css/index.css"> 
    <link rel="stylesheet" type="text/css" href="/assets/icons/css/all.css"> 
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="container">
        <div class="navbar-div">
            <%- include('partials/navbar') %>
        </div>
        <div class="home-div-container">
            <div class="home-title-div"> 
                <h1>Home</h1> 
                <div class="current-date-time-div">
                    <h3 id="currentDate"></h3>
                    <h3 id="currentTime"></h3>
                </div>
            </div>
            <div class="home-link1-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/account-management">
                        <i class="fa fa-user"></i><em>My Profile</em>
                    </a> 
                </div>
            </div>
            <div class="home-link2-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/create-lecture">
                        <i class="fas fa-plus-square"></i><em>Create Lecture</em>
                    </a> 
                </div>
            </div>
            <div class="home-link3-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/join-lecture">
                        <i class="fas fa-file-signature"></i><em>Lecture Enrollment</em>
                    </a> 
                </div>
            </div>
            <div class="home-link4-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/covid-info-center">
                        <i class="fas fa-exclamation-triangle"></i><em>COVID-19 Information Center</em>
                    </a> 
                </div>
            </div>
            <div class="home-link5-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/create-group">
                        <i class="fas fa-user-plus"></i><em>Create Group</em>
                    </a> 
                </div>
            </div>
            <div class="home-link6-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/join-group">
                        <i class="fa fa-users"></i><em>Join Group</em>
                    </a> 
                </div>
            </div>
            <div class="home-link7-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/symptom-history">
                        <i class="fas fa-head-side-cough"></i><em>Symptom History</em>
                    </a> 
                </div>
            </div>
            <div class="home-link8-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/help-and-support">
                        <i class="far fa-question-circle"></i><em>Help & Support</em>
                    </a> 
                </div>
            </div>
            <div class="home-link9-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/terms-and-conditions">
                        <i class="fas fa-sticky-note"></i><em>Terms & Conditions</em>
                    </a> 
                </div>
            </div>
            <div class="home-link10-div"> 
                <div class="home-link-card">
                    <a class="home-link" href="/log-out">
                        <i class="fas fa-door-open"></i><em>Log Out</em>
                    </a> 
                </div>
            </div>
        </div>
    </div>
</body>
<script> 
    updateClock = () => {
        let now = new Date(),
        months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August',
        'September', 'October', 'November', 'December']; 
        time = now.getHours() + ':' + ("0" + now.getMinutes()).slice(-2);
        date = [now.getDate(), months[now.getMonth()],
        now.getFullYear()].join(' ');
        document.getElementById('currentDate').innerHTML = [date, time].join('<br>');
        setTimeout(updateClock, 1000);
    }
    updateClock();
</script>
</html>