* {
  font-family: "Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
}

body {
  background-color: #dfe3ee;
  color: black;
  height: 95.5vh;
  overflow: hidden;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.scorona-div {
  grid-area: 1 / 1 / 2 / 2;
}

.login-div {
  grid-area: 1 / 2 / 2 / 3;
}

.title-text {
  margin-left: 1.1em;
  margin-top: 6.5em;
  font-size: 2em;
  font-weight: bold;
  color: #201350;
  font-family: "Courier New", Courier, monospace;
}

.title-p {
  font-size: 1.25em;
  margin-left: 1.75em;
}

/* Cookies Notification */
#cookies {
  display: none;
  width: 100%;
  height: 3em;
  padding: 10px;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #E3E3E3;
  -moz-box-shadow: 0px 0px 8px #ddd;
  -webkit-box-shadow: 0px 0px 8px #DDD;
  box-shadow: 0px 0px 8px #DDD;
  color: black;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 9999;
}

#cookies > p {
  margin: 0 0 10px 0;
}

#cookies > p a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

#cookies.display {
  display: block;
  /* Cross browser animation */
  -webkit-animation: cookies 1s 1; /* Chrome, Safari 5+ */
  -moz-animation: cookies 1s 1; /* Firefox 5-15 */
  -ms-animation: cookies 1s 1; /* IE9 */
  -o-animation: cookies 1s 1; /* Opera 12.00 */
  animation: cookies 1s 1; /* Chrome, Firefox 16+, IE 10+, Opera 12.10+ */
}

@keyframes cookies {
  0% {
    -webkit-transform: translate3d(0, -100px, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, -100px, 0); /* Firefox */
    -ms-transform: translate3d(0, -100px, 0); /* IE9 */
    -o-transform: translate3d(0, -100px, 0); /* Opera */
    transform: translate3d(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, 0, 0); /* Firefox */
    -ms-transform: translate3d(0, 0, 0); /* IE9 */
    -o-transform: translate3d(0, 0, 0); /* Opera */
    transform: translate3d(0, 0, 0);
  }
}
@-webkit-keyframes cookies {
  0% {
    -webkit-transform: translate3d(0, -100px, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, -100px, 0); /* Firefox */
    -ms-transform: translate3d(0, -100px, 0); /* IE9 */
    -o-transform: translate3d(0, -100px, 0); /* Opera */
    transform: translate3d(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, 0, 0); /* Firefox */
    -ms-transform: translate3d(0, 0, 0); /* IE9 */
    -o-transform: translate3d(0, 0, 0); /* Opera */
    transform: translate3d(0, 0, 0);
  }
}
@-moz-keyframes cookies {
  0% {
    -webkit-transform: translate3d(0, -100px, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, -100px, 0); /* Firefox */
    -ms-transform: translate3d(0, -100px, 0); /* IE9 */
    -o-transform: translate3d(0, -100px, 0); /* Opera */
    transform: translate3d(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, 0, 0); /* Firefox */
    -ms-transform: translate3d(0, 0, 0); /* IE9 */
    -o-transform: translate3d(0, 0, 0); /* Opera */
    transform: translate3d(0, 0, 0);
  }
}
@-o-keyframes cookies {
  0% {
    -webkit-transform: translate3d(0, -100px, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, -100px, 0); /* Firefox */
    -ms-transform: translate3d(0, -100px, 0); /* IE9 */
    -o-transform: translate3d(0, -100px, 0); /* Opera */
    transform: translate3d(0, -100px, 0);
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0); /* Safari & Chrome */
    -moz-transform: translate3d(0, 0, 0); /* Firefox */
    -ms-transform: translate3d(0, 0, 0); /* IE9 */
    -o-transform: translate3d(0, 0, 0); /* Opera */
    transform: translate3d(0, 0, 0);
  }
}

.close-cookies {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-transform: translate3d(0, -100px, 0); /* Safari & Chrome */
  -moz-transform: translate3d(0, -100px, 0); /* Firefox */
  -ms-transform: translate3d(0, -100px, 0); /* IE9 */
  -o-transform: translate3d(0, -100px, 0); /* Opera */
  transform: translate3d(0, -100px, 0);
}

.login-container {
  width: 100%;
  margin: auto;
  box-sizing: border-box;
  border: none;
  outline: none;
}

.login-container-div{
  background-color: #ffffff;
  margin: auto;
  margin-top: 1.5em;
  margin-right: 3em;
  padding: 3em;
  border: 1px solid #E3E3E3;
  -moz-box-shadow: 0px 0px 8px #ddd;
  -webkit-box-shadow: 0px 0px 8px #DDD;
  box-shadow: 0px 0px 8px #DDD;
}

p > a{
  text-decoration: none;
  color: #0C0032;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  display: inline-block;
  padding: 12px 20px;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  box-sizing: border-box;
  border: 1px solid #929292;
  border-radius: 4px;
  background-color: #ffffff;
  outline: none;
}

h1 {
  text-align: center;
  font-weight: 100;
  margin-bottom: 0.5em;
}

.login-btn,
.register-nav,
.register-school-nav {
  background-color: #0C0032;
  color: #f0f0f0;
  padding: 0.8em;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  outline: none;
  font-size: 1em;
}

.home-nav {
  background-color: #0C0032;
}

.login-btn:hover,
.register-nav:hover,
.register-school-nav:hover {
  background-color: #201350;
}

.error-message {
  color: rgb(216, 43, 43);
  text-align: center;
  font-size: 1em;
}

/* Or */
h3 {
  display: flex;
  flex-direction: row;
  font-size: 1em;
}

h3:before,
h3:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid#696969;
  margin: auto;
  margin-left: 1.2em;
  margin-right: 1.2em;
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(0, 1, 19);
  }
  .login-container {
    width: 80%;
    padding: 1em 1.5em;
  }
}
